<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>jspstudy</display-name>

	<!-- 서블릿을 웹 컨테이버에 등록 -->
	<servlet>
		<servlet-name>My01</servlet-name>
		<servlet-class>Round12_01_Servlet</servlet-class>
		<!-- 톰캣 구동될 때 init() 메서드를 실행하고 싶다면 아래 코드 등록 -->
		<!-- <load-on-startup>1</load-on-startup> -->
	</servlet>
	<!-- 순서 조심해야 한다.servlet 를 먼저 등록한 다음에 servlet-mapping 은 나중에 등록해주어야 한다. -->
	<servlet>
		<servlet-name>My02</servlet-name>
		<servlet-class>Round12_02_Servlet</servlet-class>
	</servlet>

	<!-- 등록한 서블릿을 웹 브라우저에서 호출하면서 사용하는 이름을 등록 -->
	<servlet-mapping>
		<servlet-name>My01</servlet-name>
		<url-pattern>/Servlet01</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<!-- servlet-name : 서블릿 이름이 된다. -->
		<servlet-name>My02</servlet-name>
		<url-pattern>/Servlet02</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>